.layout {
  background-color: #06080c;
  height: 100%;
  width: 100%;
  padding: 30px 42px;
  max-width: 1920px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
  background-color: #06080c;
}
